# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/vcs.xml
/.idea/misc.xml
/.idea/mfn-manager.iml
/.idea/jarRepositories.xml
/.idea/encodings.xml
/target/dependency-check-report.html
/target/site/images/accessories-text-editor.png
/target/site/images/add.gif
/target/site/css/apache-maven-fluido-2.0.0-M9.min.css
/target/site/js/apache-maven-fluido-2.0.0-M9.min.js
/target/site/images/apache-maven-project-2.png
/target/site/images/application-certificate.png
/target/site/images/logos/build-by-maven-black.png
/target/site/images/logos/build-by-maven-white.png
/target/site/images/close.gif
/target/site/images/contact-new.png
/target/site/dependencies.html
/target/site/dependency-check-report.html
/target/site/dependency-info.html
/target/site/dependency-management.html
/target/site/images/document-properties.png
/target/site/images/drive-harddisk.png
/target/site/images/fix.gif
/target/site/img/glyphicons-halflings.png
/target/site/fonts/glyphicons-halflings-regular.eot
/target/site/fonts/glyphicons-halflings-regular.svg
/target/site/fonts/glyphicons-halflings-regular.ttf
/target/site/fonts/glyphicons-halflings-regular.woff
/target/site/img/glyphicons-halflings-white.png
/target/site/images/icon_error_sml.gif
/target/site/images/icon_help_sml.gif
/target/site/images/icon_info_sml.gif
/target/site/images/icon_success_sml.gif
/target/site/images/icon_warning_sml.gif
/target/site/images/image-x-generic.png
/target/site/index.html
/target/site/images/internet-web-browser.png
/target/site/licenses.html
/target/site/images/logos/maven-feather.png
/target/site/images/network-server.png
/target/site/images/package-x-generic.png
/target/site/plugin-management.html
/target/site/plugins.html
/target/site/images/profiles/pre-release.png
/target/site/css/print.css
/target/site/project-info.html
/target/site/project-reports.html
/target/site/images/remove.gif
/target/site/images/profiles/retired.png
/target/site/images/rss.png
/target/site/images/profiles/sandbox.png
/target/site/scm.html
/target/site/css/site.css
/target/site/summary.html
/target/site/team.html
/target/site/images/update.gif
/target/site/images/window-new.png
/.idea/compiler.xml
/app/target/surefire-reports/2025-04-01T20-20-27_322.dumpstream
/app/target/surefire-reports/2025-04-01T20-22-48_562.dumpstream
/app/target/site/jacoco/jacoco-resources/branchfc.gif
/app/target/site/jacoco/jacoco-resources/branchnc.gif
/app/target/site/jacoco/jacoco-resources/branchpc.gif
/app/target/site/jacoco/jacoco-resources/bundle.gif
/app/target/site/jacoco/jacoco-resources/class.gif
/app/target/surefire-reports/com.warnett.mfnmanager.app.MfnManagerApplicationTest.txt
/app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/app/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/app/target/site/jacoco/jacoco-resources/down.gif
/app/target/site/jacoco/jacoco-resources/greenbar.gif
/app/target/site/jacoco/jacoco-resources/group.gif
/app/target/site/jacoco/com.warnett.mfnmanager.app/index.html
/app/target/site/jacoco/index.html
/app/target/site/jacoco/com.warnett.mfnmanager.app/index.source.html
/app/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/app/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/ui/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/ui/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/app/target/site/jacoco/jacoco.csv
/app/target/jacoco.exec
/app/target/site/jacoco/jacoco.xml
/app/target/site/jacoco/jacoco-sessions.html
/app/target/site/jacoco/jacoco-resources/method.gif
/app/target/site/jacoco/com.warnett.mfnmanager.app/MfnManagerApplication.html
/app/target/site/jacoco/com.warnett.mfnmanager.app/MfnManagerApplication.java.html
/app/target/site/jacoco/jacoco-resources/package.gif
/app/target/maven-archiver/pom.properties
/ui/target/maven-archiver/pom.properties
/app/target/site/jacoco/jacoco-resources/prettify.css
/app/target/site/jacoco/jacoco-resources/prettify.js
/app/target/site/jacoco/jacoco-resources/redbar.gif
/app/target/site/jacoco/jacoco-resources/report.css
/app/target/site/jacoco/jacoco-resources/report.gif
/app/target/site/jacoco/jacoco-resources/session.gif
/app/target/site/jacoco/jacoco-resources/sort.gif
/app/target/site/jacoco/jacoco-resources/sort.js
/app/target/site/jacoco/jacoco-resources/source.gif
/app/target/surefire-reports/TEST-com.warnett.mfnmanager.app.MfnManagerApplicationTest.xml
/app/target/site/jacoco/jacoco-resources/up.gif
/app/target/surefire-reports/2025-04-01T21-42-08_272.dumpstream
/ui/target/surefire-reports/2025-04-01T21-42-08_272.dumpstream
/app/target/surefire-reports/2025-04-01T21-46-39_528.dumpstream
/ui/target/surefire-reports/2025-04-01T21-46-39_528.dumpstream
/app/target/surefire-reports/2025-04-01T21-48-02_339.dumpstream
/ui/target/surefire-reports/2025-04-01T21-48-02_339.dumpstream
/ui/target/surefire-reports/2025-04-01T22-55-26_022.dumpstream
/ui/target/site/jacoco/jacoco-resources/branchfc.gif
/ui/target/site/jacoco/jacoco-resources/branchnc.gif
/ui/target/site/jacoco/jacoco-resources/branchpc.gif
/ui/target/site/jacoco/jacoco-resources/bundle.gif
/ui/target/site/jacoco/jacoco-resources/class.gif
/ui/target/surefire-reports/com.warnett.mfnmanager.ui.controller.HomeControllerTest.txt
/ui/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/ui/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/ui/target/site/jacoco/jacoco-resources/down.gif
/ui/target/site/jacoco/jacoco-resources/greenbar.gif
/ui/target/site/jacoco/jacoco-resources/group.gif
/ui/target/site/jacoco/com.warnett.mfnmanager.ui.controller/HomeController.html
/ui/target/site/jacoco/com.warnett.mfnmanager.ui.controller/HomeController.java.html
/ui/src/test/java/com/warnett/mfnmanager/ui/controller/HomeControllerTest.java
/ui/target/site/jacoco/com.warnett.mfnmanager.ui.controller/index.html
/ui/target/site/jacoco/index.html
/ui/target/site/jacoco/com.warnett.mfnmanager.ui.controller/index.source.html
/ui/target/site/jacoco/jacoco.csv
/ui/target/jacoco.exec
/ui/target/site/jacoco/jacoco.xml
/ui/target/site/jacoco/jacoco-sessions.html
/ui/target/site/jacoco/jacoco-resources/method.gif
/ui/src/main/resources/pages/mfn-home.html
/ui/target/classes/pages/mfn-home.html
/ui/target/site/jacoco/jacoco-resources/package.gif
/ui/target/site/jacoco/jacoco-resources/prettify.css
/ui/target/site/jacoco/jacoco-resources/prettify.js
/ui/target/site/jacoco/jacoco-resources/redbar.gif
/ui/target/site/jacoco/jacoco-resources/report.css
/ui/target/site/jacoco/jacoco-resources/report.gif
/ui/target/site/jacoco/jacoco-resources/session.gif
/ui/target/site/jacoco/jacoco-resources/sort.gif
/ui/target/site/jacoco/jacoco-resources/sort.js
/ui/target/site/jacoco/jacoco-resources/source.gif
/ui/target/surefire-reports/TEST-com.warnett.mfnmanager.ui.controller.HomeControllerTest.xml
/ui/target/site/jacoco/jacoco-resources/up.gif
